<div class="container">
  <div class="row">
    <div class="col-md-10 col-sm-18 col-xs-12"></div>
    <div class="col-md-10 col-sm-18 col-xs-12">
   
    <form class="form-container" #forgotForm="ngForm" (ngSubmit)="sendMail()">
      <h2>Enter your Mail ID to recieve username and password</h2>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input placeholder="username@gmail.com" type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" 
            [(ngModel)]="toMailID" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
            
            >
            <div *ngIf="email.errors && (email.invalid && email.touched)">
              <small class="text-danger" *ngIf="email.errors.required">Email Id is required field</small>
              
            </div>
        </div>
        <small class="float-right text-secondary vishav-click" [routerLink]="['/login']"><b><font size="3">Return Back to Login Page</font></b></small>
        <button [disabled]="forgotForm.form.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <div *ngIf="msg && msg.length > 0" [ngClass]="{'alert alert-success': status==200, 'alert alert-danger': status==500}" role="alert">
      {{ msg }}
    </div>
</div>
</div>
</div>
